{
    "extends": "airbnb-base",

    "parser": "babel-eslint",

    plugins: ["eslint-plugin-babel"],

    "rules": {
        "indent": [2, 4],
        "max-len": [2, 120, 4],
        "no-warning-comments": 1,
        "no-underscore-dangle": 0,
        "no-use-before-define": ["error", { "functions": false }],
        "prefer-template": [1],
        "consistent-return": [1],

        "generator-star-spacing": 0,
        "babel/generator-star-spacing": [2, { before: false, after: true }],

        "import/order": [2, { "groups": ["builtin", "external", "internal", "parent", "sibling", "index"], "newlines-between": "always"}],
        "import/newline-after-import": [2]
    }
}
