{
    "extends": "vgno",

    "parser": "babel-eslint",

    "env": {
        "es6": true
    },

    "ecmaFeatures": {
        "modules": true
    },

    "rules": {
        "no-console": 0,
        "no-underscore-dangle": 0
    }
}
